<div class="newsletter-page">

    <div class="header-container">
        <h1 class="page-header">Newsletter</h1>

        <p class="page">Signup to my newsletter</p>


        <div class="form-container">
            <form>
                <div class="input-container half-container">
                    <label class="label">First Name</label>
                    <input class="input" type="text">
                </div>
                <div class="input-container half-container">
                    <label class="label">Last Name</label>
                    <input class="input" type="text">
                </div>
                <div class="input-container half-container">
                    <label class="label">Email</label>
                    <input class="input" type="text">
                </div>
                <div class="input-container half-container">
                    <label class="label">Mobile phone</label>
                    <input class="input" type="text">
                </div>
                <div class="input-container">
                    <label class="label">Postcode and/or full address</label>
                    <input class="input" type="text">
                </div>
                <div class="input-container">
                    <label class="label">Country</label>
                    <input class="input" type="text">
                </div>

                <div class="input-container">
                    <input class="red-button" type="submit" value="Search">
                </div>

            </form>
        </div>

    </div>
</div>

