@import '../variables';
@import '../mixins';

.carousel {
  .slide {
    position: relative;
  }
  .secondary-header {
    padding: 10px;
    bottom: 0;
    position: absolute;
    text-align: right;
    right: 0;
    background-color: $white;
  }

  .para {
    display: none;
  }

  .slide-image {
    width: 100%;
    height: auto;
  }

}

@include respond-to(desktop) {
  .carousel {
    .secondary-header,
    .para{
      padding: 20px;
    }
    .secondary-header {
      bottom: 150px;
    }
    .para {
      display: inline-block;
      bottom: 30px;
      position: absolute;
      text-align: right;
      right: 5px;
      margin-left: 150px;
      background-color: $white;
    }

  }
}