<div class="main-navigation">
    <div class="page-content">
    <a class="home-link" href="/">Karen Buck</a>

    <p class="sub-header">Working tirelessly for Westminster North</p>
    </div>

    <div class="nav-bar">
        <a class="menu-link">
            <span class="hidden-text">Open Menu</span>
            <span class="horizontal-line"></span>
            <span class="horizontal-line"></span>
            <span class="horizontal-line"></span>

        </a>
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="/newsletter">Newsletter</a></li>
            <li class="nav-item"><a class="nav-link" href="/campaign">Campaign</a></li>
            <li class="nav-item"><a class="nav-link" href="/offering-help">Offering help</a></li>
            <li class="nav-item"><a class="nav-link" href="/needing-help">Needing help</a></li>
            <li class="nav-item"><a class="nav-link" href="/links">Links</a></li>
        </ul>

    </div>


</div>