<div class="sidebar">
    <ul>
        <li>
            <a class="red-button" href="#">Who we are</a>
        </li>
        <li>
            <a class="red-button" href="#">Elections</a>
        </li>
        <li>
            <a class="red-button" href="#">Campaigns</a>
        </li>
    </ul>
    <ul class="links-list">
        <li>
            <a class="link">Lorem</a>
        </li>
        <li>
            <a class="link">Ipsum</a>
        </li>
        <li>
            <a class="link">Dolar sit</a>
        </li>
    </ul>
</div>